/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
 background-color: pink; 
 text-align:center;
}

main {
  text-align: center;
  margin-top: 0;
  margin-bottom: 3%;
  background-color: #417B5A;
  margin-left: 11%;
  margin-right: 11%;
  border-radius: 30%;
}

/* STYLE TEXT */
h1 {
  color: #06062d;
  text-align: center;
  font-size: 22px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 5%;
  font-family: Oswald;
}

p{
  font-size: 20px;
  margin-bottom: 0.5%;
  font-family: Oswald;
}



/* STYLE NAV BAR */
ul {
  text-align: right;
  font-size: 25px;
  list-style-type: none;
  background-color: #0e0354;
  overflow: hidden;
  padding: 0.5em;
  font-family: Oswald;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1em;
  padding: 1em;
  font-weight: bold;
}

li a:hover {
  background-color: #00a7b3;
}
